<div class="container" style="margin-top: 15%">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">About Us</h1>
  
    <hr class="mt-2 mb-5">
    <!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Who we are,
      <small>What we do</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-7">
        <img class="img-fluid" src="https://act-in.com/sites/default/files/styles/paragraph_image_left_right/public/paragraph_image/iStock-869287090%20aangepast2.jpg?itok=j8n3Js0n" alt="">
      </div>
  
      <div class="col-md-5">
        <h3 class="my-3">We are...</h3>
        <p>
            We offer a range of customized electronic solutions to a number of industries including
            Industrial manufacturing, Consumer products from &quot;One Off&quot; custom designs to large scale
            production items.</p>
            <p> Electronic Solutions can work with you on a number of levels, depending on your
            requirements.</p>
            <p> service can range from a support role for existing products that require updating to current
            standards, to complete Research and Development projects to develop the products of the future.
            We encourage Australian designs and work with many local manufacturers to try and keep
            products made locally.</p>
            <p>We enjoy learning new technologies and continually grow and add to our skills and abilities.
            We are passionate about product design and taking on new challenges
        </p>
        <h3 class="my-3">We do...</h3>
        <ul>
          <li>Embedded Systems</li>
          <li>PLC Based Systens</li>
          <li>PCB Design and Manufacturing</li>
          <li>Schematic Designing</li>
          <li>Firmware Developing</li>
          <li>Customized Electronic Solutions</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://i.pinimg.com/originals/d5/a9/15/d5a915dcfaba84833850675709d55ce1.jpg" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://i.pinimg.com/originals/d5/a9/15/d5a915dcfaba84833850675709d55ce1.jpg" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://i.pinimg.com/originals/d5/a9/15/d5a915dcfaba84833850675709d55ce1.jpg" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://i.pinimg.com/originals/d5/a9/15/d5a915dcfaba84833850675709d55ce1.jpg" alt="">
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
    <div class="jumbotron">
        <h1 class="display-4">Our Vision</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        
      </div>
      <div class="jumbotron">
          <h1 class="display-4">Our Mission</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          
        </div>
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://images6.alphacoders.com/456/thumb-1920-456498.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://i.pinimg.com/originals/d5/a9/15/d5a915dcfaba84833850675709d55ce1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://images6.alphacoders.com/456/thumb-1920-456498.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
</div>
<app-footer></app-footer>